<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Dominic White" %></title>

    <%= stylesheet_link_tag "normalize", "materialize", "all" %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='//fonts.googleapis.com/css?family=Lato:400,700|Anonymous+Pro:400,700' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "jquery-1.11.3.min", "materialize", "all" %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-64428708-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>

  <body class="<%= page_classes %>">
  <div class="side-bar">
      <nav id="nav-list">
        <ul id="slide-out" class="side-nav">
          <div id="photo-frame">
            <%= image_tag 'http://i.imgur.com/c1YD0c3.png', :class => "my-photo" %>
          </div>
          <div class="social-media">
            <a href="https://au.linkedin.com/in/dominicpaulwhite"><i id="linked-in" class="fa fa-linkedin-square fa-3x"></i></a>
            <a href="https://github.com/DomWhite"><i id="github" class="fa fa-github-square fa-3x"></i></a>
            <a href="https://twitter.com/DOM1N1CWH1TE"><i id="twitter" class="fa fa-twitter-square fa-3x"></i></a>
          </div>
          <li class="link-to"><i class="fa fa-home fa-2x"></i><a href="/">HOME</a></li>
          <li class="link-to"><i class="fa fa-user fa-2x"></i><a href="/about">ABOUT</a></li>
          <li class="link-to"><i class="fa fa-folder-open fa-2x"></i><a href="/projects">PROJECTS</a></li>
          <li class="link-to"><i class="fa fa-paper-plane fa-2x"></i><a href="/contact">CONTACT</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse show-on-large tooltipped" data-position="right" data-delay="50" data-tooltip="CLICK TO OPEN">
          <i class="mdi-navigation-menu"></i>
        </a>
      </nav>
    </div>
    <a href="/proj-slides" class="waves-effect waves-light white-text btn-large" id="back-btn">BACK TO PROJECTS</a>
    <%= yield %>

  <script>
    $(".button-collapse").sideNav();

    $(document).ready(function(){
      $('.link-to').on('click', function() {
        $('.link-to').removeClass('active');
        $(this).addClass('active');
      });
    });
  </script>

  </body>
</html>
